.draggable-container {
  position: absolute;
  width: 50vw;
  height: 60vh;
  background-color: lightblue;
  border: 1px solid #ccc;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Prevent text selection while dragging */
}
.draggable-container:active {
  cursor: grabbing;
}

.constraint-container {
  position: relative;
  width: 70vw;
  height: 80vh;
  border: 1px solid black;
  overflow: hidden;
  margin: 20px 15vw;
}
