p, h1, h2, h3, h4, h5 {
  margin: 5px;
}

.draggable-container {
  position: absolute;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Prevent text selection while dragging */
}

.constraint-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  overflow: hidden;
}

.building-component {
  fill: black;
  opacity: 0.5;
  stroke-width: 0.1;
  stroke: orange;
  z-index: 5;
}
.building-component:hover {
  fill: orange;
  cursor: pointer;
}

.map-background {
  width: 1200px;
  height: 600px;
}

.main-container {
  position: relative;
  width: 80vw;
  height: auto;
  aspect-ratio: 2/1;
  border: 1px solid black;
  background-color: #afafaf;
  overflow: hidden;
  margin: 0 auto;
  transition: transform 0.1s ease;
  cursor: grab;
}

.main-container:active {
  cursor: grabbing;
}

#information-container {
  float: right;
  position: relative;
  background-color: #29262c;
  height: 100%;
  width: 0;
  padding: 10px;
  cursor: default;
}

#info-close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  line-height: 0;
  aspect-ratio: 1/1;
  background-color: red;
  font-weight: bold;
  border-radius: 25%;
  color: whitesmoke;
  border-color: whitesmoke;
  border-style: solid;
  padding: 10px;
}

#info-close-button:hover {
  filter: brightness(0.8);
}

#info-floor-selector {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

#info-floor-selector button {
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 25%;
  border-style: solid;
  border-color: whitesmoke;
}

#info-floor-selector button:hover {
  filter: brightness(0.8);
}

.unselected-button {
  border-radius: 5px;
  background-color: #8f8f8f;
  color: whitesmoke;
}

.selected-button {
  border-radius: 5px;
  background-color: #ebebeb;
  color: black;
}

.poster-list {
  padding: 0;
  width: 100%;
}

.poster-list li {
  list-style: none;
  background-color: #8d8d8d;
  margin: 4px 0;
  padding: 10px;
}
.poster-list li:nth-child(odd) {
  background-color: #4d4d4d;
}

.poster-list li:hover {
  filter: brightness(0.8);
}

.poster-pin {
  /* fill: #ff0000; */
  stroke-width: 0.3;
  stroke: #000000;
}

.poster-pin:hover {
  fill: #63ff21;
  stroke-width: 0.3;
  stroke: #ffffff;
}

#header-location-image {
  z-index: 0;
  filter: brightness(0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  aspect-ratio: 4/3;
  -webkit-mask-image:-webkit-gradient(linear, center left, center right, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

#info-name {
  margin-top: 5%;
  height: 5%;
  z-index: 10;
  position: relative;
}

#poster-option-buttons {
  position: absolute;
  right: 10px;
  height: 2em;
  margin-top: 0.5em;
}

#poster-option-buttons button {
  height: 2em;
  aspect-ratio: 2/1;
  margin: 0 1vw;
}