.draggable-container {
  position: absolute;
  width: 70vw;
  height: 80vh;
  background-color: #c4c4c4;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Prevent text selection while dragging */
}
.draggable-container:active {
  cursor: grabbing;
}

.constraint-container {
  position: relative;
  width: 70vw;
  height: 80vh;
  border: 1px solid black;
  background-color: #afafaf;
  overflow: hidden;
  margin: 20px 15vw;
}
