<div class="main-container">
    <div 
    id="mapElement"
    class="constraint-container"
    preventZoom 
    (mousedown)="onDragStart($event)"
    (mousemove)="onDrag($event)"
    (mouseup)="onDragEnd()">
        <div
        class="draggable-container"
        zoomDirective
        #mapElement
        #zoomInstance="zoomDirective"
        [ngStyle]="{ top: position.y + 'px', left: position.x + 'px' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 800" style="position:absolute; z-index: 2;">
                <path class="building-component" *ngFor="let building of this.buildingData" attr.d={{building.shape}} id={{building.name}} (click)="select(building,5)">
                    <!-- poster objects go here, *ngFor="let poster of this.getPosters()" or something -->
                </path>

                <path class="poster-pin" *ngFor="let poster of posterArr" id="poster#{{poster.id}}" (click)="selectPoster(poster,10)" fill="#ff0000"
                attr.d="m {{poster.position.posX}},{{poster.position.posY}} a 3.8154277,4.0266488 0 0 0 -3.81608,4.02735 3.8154277,4.0266488 0 0 0 1.65195,3.30599 l 2.19126,4.33166 2.2269,-4.40145 a 3.8154277,4.0266488 0 0 0 1.54849,-3.06258 l 0.0188,-0.0358 h -0.016 a 3.8154277,4.0266488 0 0 0 0.008,-0.138 3.8154277,4.0266488 0 0 0 -3.81438,-4.02733 z" 
                ></path>
    
                <!-- <path class="building-component" d="m11 1h 7v3h-3v4h-4z" (click)="printLocation()"/>
                <path class="building-component" d="m 707.01107,426.93727 h 39.8524 v 5.90406 h 12.17712 v 48.33948 h -50.92251 z" (click)="printLocation()"/>
                <path class="building-component" d="m92 40h 8v2h4 1v5h-1v-4h-4v3h4v1h-4v2h-8z" (click)="printLocation()"/>
                <path class="building-component" d="" (click)="printLocation()"/> -->
            </svg>
            <img class="map-background" src="/croppedRitMap.png" alt="map background" style="user-select: none; pointer-events: none; z-index: 1; opacity: 0.5; background-color: white;">
        </div>
    </div>
    <div id="information-container" style="display: none;">
        <div style="position: absolute; height: 25%; width: 100%; left:0; top:0; display: flex; overflow: hidden;">
            <img id="header-location-image" src="" alt="">
            <div style="display: flex; width: 50%; height: 100%; align-items: center; z-index: 10;">
                <div>
                    <h2 style="width: 100%;">{{building.name}}</h2>
                    <p style="font-size: small;">{{building.description}}</p>
                </div>
            </div>
            <div style="position: relative; width: 50%; height: 100%; padding-right: 10px;">
                <button id="info-close-button" (click)="closeMenu()">✕</button>
                <div style="position: absolute; bottom: 0; width: 100%; padding-bottom: 7%;">
                    <h3>Select Floor: </h3>
                    <div id="info-floor-selector">
                        <button class="unselected-button" *ngFor="let num of floorNumArr" (click)="selectFloor(num)">{{num}}</button>
                    </div>
                </div>
            </div>
            <div style="width: 100%; height: 2px; position: absolute; bottom: 3%; left: 0; background-color: whitesmoke;"></div>
        </div>

        <div style="height: 24%;"></div>

        <div id="poster-list-container">
            <h2>Showing {{building.name}} Floor {{floor}}:</h2>
            <ul class="poster-list">
                <li *ngFor="let poster of posterArr" (click)="selectPoster(poster)">Poster #{{poster.id}}</li>
            </ul>
        </div>
        <div id="poster-info-container" style="display: none;">
            <div style="display: flex; width: 100%;">
                <h2>{{poster.location}}#{{poster.id}}</h2>
                <div id="poster-option-buttons">
                    <button>Mark</button>
                    <button (click)="moveToPoster(poster.previous!)">Prev</button>
                    <button (click)="moveToPoster(poster.next!)">Next</button>
                </div>
            </div>
            <p style="margin: 5px;">{{poster.description}}</p>
            <img style="width: 100%; box-sizing: border-box; aspect-ratio: 4/3; background-color: rgb(136, 136, 136);" src="/notfound.png">
        </div>
    </div>
</div>